.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 25px;
    scroll-margin-top: 10vw;    
}

@media (max-width: 1024px) {
    .about {
        width: 100%;
        font-size: 2vw;
    }
}