@import url('../../assets/static/_tokens.css');

.about {
    scroll-margin-top: 10vw;   
    white-space: pre-line; 
    height: auto;
    padding: 5vh 10vw;
    position: relative;
    background-size: cover;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat !important;
}
.about .studio-bg {
    display: block;
    transition: all 0.5s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    filter: grayscale(100%) opacity(0.1);
    position: absolute;
}
.about .contact-avatar {
    filter: grayscale(10%);
    width: 150px;
    margin-bottom: 10px;
    box-shadow: 0px 10px 13px -7px #00000075, 5px 5px 15px 5px rgba(0,0,0,0);
}
.about div {
    z-index: 1;
    position: relative;
    top: 0;
}
.about p{
    font-family: var(--font-primary);
    font-size: 1.2vw;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
}

@media (max-width: 1024px) {
    .about {
        width: 100%;
        font-size: 2vw;
    }
}