.contact-component {
    position: relative;
    padding-top: 5vh;
    display: flex;
    flex-direction: row;    
    gap: 5vw;
    align-items: center;
    justify-content: left;
    scroll-margin-top: 15vw;
    
}
.contact-text-container {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: start;
    justify-content: center;
    padding: 5px;
}
.contact-component p {
    font: 1rem 'Roboto', sans-serif;
    font-weight: 400;
    color: #e6e7eb;
    margin: 2px;
}
.contact-avatar {
    border-radius: 8px;
    width: 150px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.contact-linkedin-logo {
    margin-top: 10px;
    width: 80px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.contact-linkedin-logo:hover {
    scale: 1.05;
    transition: scale 0.1s;
}

.contact-title {
    font-size: x-large;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.contact-email-container {
    width: 220px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
}
.contact-email-container * {
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #a7a7a785;
    color: black;
    padding: 7px;
}
@media (max-width: 1024px) {
    .contact-component {
        padding-top: 0;
    }
    
    .contact-component p {
        font-size: 0.9rem;
    }
    .contact-avatar {
        width: 120px;
    }
}
@media (max-width: 768px) {
    .contact-component {
        flex-direction: row;
        padding-top: 4vh;
        gap: 3vh;
    }
    .contact-text-container {
        gap: 0.5rem;
    }
    .contact-component p {
        font-size: 0.9rem;
    }
    .contact-avatar {
        width: 100px;
    }
    .contact-linkedin-logo {
        width: 80px;
    }
    .contact-title {
        font-size: large;
    }
    .contact-email-container {
        width: 180px;
        gap: 2vw;
    }
    .contact-email-container * {
        padding: 5px;
    }
}
