.education-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding-bottom: 20px;  
    border-bottom: 1px solid #e0e0e094;  
}
.institution-year {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;  
    font-size: 0.8rem;  
}

.education .title {
    margin-bottom: 25px;
}
.education {    
    scroll-margin-top: 10vw;
}

@media (max-width: 1024px) {
    .education {
        width: 100%;
        font-size: 2vw;
    }
    .education .title {
        font-size: 4vw;
    }
    .education h3 {
        font-size: 3vw;
    }
}