.main-section {
    position: relative;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    width: 100%;
}
.main-section .contact-component, 
.main-section .about, 
.main-section .projects,
 .main-section .education {
    width: 80vw;
    max-width: 1400px;
    padding-inline: 10vw;
    margin-bottom: 0vw;
    margin: auto;
}
.main-section h1 {
    text-shadow: 0px 0px 10px #000000;
}
.out-of-view {
    position: fixed;
    top: 100px;
    left: 15px;
    padding: 0;
    opacity: 1;                  /* Comienza completamente visible */
    transition: opacity 0.5s ease 0.5s;
}
.out-of-view .contact-avatar {
    display: none;
}
.out-of-view.hidden {
    opacity: 0;                  /* Termina completamente invisible */
    transition: opacity 0.5s ease;
}
.out-of-view .contact-component {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.174);
    position: relative;
    border-radius: 10px;
    width: 150px;
    display: flex;
    justify-content: center;
}
.out-of-view .contact-component .contact-text-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;;
}
.out-of-view .contact-component h1 {
    font-size: 1.2rem;
}
.out-of-view .contact-component p {
    font-size: 0.8rem;
}
.out-of-view .contact-component .contact-linkedin-logo {
    width: 75px;
}

@media (max-width: 1024px) {
    .main-section {
        gap: 5vh;
    }
    .main-section .contact-component{
        margin-top: 0;
    }
    .main-section .contact-component, 
    .main-section .about, 
    .main-section .projects,
    .main-section .education {
        max-width: 80%;
        margin-bottom: 0vw;
        margin: auto;
        padding-inline: 50px;
    }

    .out-of-view  {
        padding: 0;
        margin: 0;
        left: 5px;
    }
    .out-of-view .contact-component {
        padding: 0.9vw;
        margin: 0;
    }
    .out-of-view .contact-component h1 {
        font-size: 1.5vw;
    
    }
    .out-of-view .contact-component p {
        font-size: 1.2vw;
    }
    .out-of-view .contact-component .contact-linkedin-logo {
        width: 8vw;
    }
}
@media (max-width: 768px) {
    .main-section .contact-component, 
    .main-section .about, 
    .main-section .projects,
    .main-section .education {
        max-width: 90%;
        margin-bottom: 0vw;
        margin: auto;
        padding: 0;
    }
    .out-of-view {
        display: none;
    }
}

