@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.offcanvas-component {
    position: absolute;
    top: 20px;
    right: 2vw;
    max-width: 220px;
    background-color: rgba(0, 0, 0, 0.174);
    border-radius: 10px;    
    padding: 15px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #e6e7eb;
    z-index: 100;
}
.offcanvas-component .offcanvas-title {
    font-family: "Oswald", cursive;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
    /* background-image: linear-gradient(to bottom, #e68e01 0%, #e58d00 10%, #e36200 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-shadow: none;
    margin: 0;
}
.offcanvas-component .btn {
    background-color: #00457E;
    border-color: #a7a7a757;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.299);
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
}
.offcanvas-component .btn:hover {
        background-color: #0058A9;
        border-color: #a7a7a7;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.offcanvas-component p {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.offcanvas-component h2 {
    font-family: "Oswald", cursive;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    padding-left: 5px;
}
.offcanvas-component .description-logos {
    max-width: 100%;
    height: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.offcanvas-component .openai-logo {
    background-color: white;
    border-radius: 10px;
    padding: 3px;
}


.offcanvas-expand {
    background-size: 50vw;
    background-position: top;
    background-position-x: -200px;
    height: 100%;
    color: #e6e7eb;
}
.offcanvas-expand .offcanvas-title{
    font-family: "Oswald", cursive;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    /* background-image: linear-gradient(to bottom, #e68e01 0%, #e58d00 10%, #e36200 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-shadow: none;
    margin: 0;
}
.offcanvas-expand .offcanvas-bg {
    background: linear-gradient(to bottom, #034684dc 0%, #022454 100%);
    height: 500%;
}
.offcanvas-expand .offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}
.offcanvas-expand p {
    margin: 0;
}
.offcanvas-expand .create-btn {
    border: 1px solid #a7a7a7;
    /* background-image: linear-gradient(to bottom, #e68e01 0%, #e58d00 10%, #e36200 100%); */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.299);
}
.offcanvas-expand .create-btn:hover {
    /* background-image: linear-gradient(to bottom, #ffab23 0%, #ff991d 10%, #ff7a15 100%); */
    border: 1px solid #e6e7eb;
}
.offcanvas-expand .spotify-btn  {
    color: #e6e7eb;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    width: 10vw;
}
.offcanvas-expand .spotify-btn:hover {
    filter: brightness(1.2);
}
.offcanvas-expand .form-label {
    font-weight: 600;
}
.offcanvas-expand .form-text {
    color:#e6e7eb;
}

/* MEDIA QUERY */
@media (max-width: 1024px) {
    .offcanvas-component {
        position: relative;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 5vh;
        padding: 5px;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
    }

    .offcanvas-component h1 {
        font-size: 1.5vw;
        margin: 0;
        padding: 0 10px;
    }
    .offcanvas-component .btn {
        width: 12vw !important;
        height: 3.5vw !important;
        font-size: 1.2vw;
        align-self: center;        
        padding: 5px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .offcanvas-component .description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
    }
    .offcanvas-component p {
        font-size: 1vw;
        max-width: 30vw;
        margin: 0;
    }
    .offcanvas-component .description h2 {
        font-size: 1.5vw;
        margin: 0;
        align-self: center;
    }
    .offcanvas-component .description-logos {
        gap: 10px;
        height: 3vh;
        align-self: center;
    }

    .openai-logo {
        
    }
}

@media (max-width: 768px) {
    .offcanvas-component p {
        display: none;
    }
}

