.playlist-container {
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;  
}
.playlist-container h2 {
font-size: 0.8vw;
font-family: "Oswald", cursive;
font-weight: 600;
/* background-image: linear-gradient(to bottom, #01e63e 0%, #01cb37 10%, #01a42c 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */

}
.title-artist :first-child {
    font-family: "Roboto", sans-serif;
    font-size: 0.9vw;
    padding: 1px;
}
.title-artist :nth-child(2) {
    font-family: "Roboto", sans-serif;
    font-size: 0.8vw;
}
