@import url('../../assets/static/_tokens.css');

.playlist-container {
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    width: 325px;
;}
.playlist-container > h2 {
    font-size: 1.2rem;
    font-family: "Oswald", cursive;
    font-weight: 600;
}
.playlist-container .index {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    padding: 1px;
    width: 5%;
    color: var(--color-blue-light);
    text-align: right;
}
.title-artist :first-child {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    padding: 1px;
    color: var(--color-light);
}
.title-artist :nth-child(2) {
    font-family: "Roboto", sans-serif;
    font-size: 0.7rem;
    color: var(--color-blue-light);
}
