.projects {
    scroll-margin-top: 10vw;
    width: 100%;
    max-width: 1400px;
}
.projects h1 {
    margin-bottom: 5vh;
    margin-left: 5vw;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}