.processing {
    height: 100vh;
    color:#e6e7eb;
    font-size: 1vw;
    font-family: 'Oswald', sans-serif;
}
.processing .spotify-logo {
    width: 8vw;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.5));
}