:root {
  --color-dark: #0C151C;
  --color-light: #E4E5EA;
  --color-blue-dark: #16354D;
  --color-blue-dark-trans: #16354df5;
  --color-blue-hover: #215073;
  --color-blue-trans: #214f7386;
  --color-blue-light: #6B99C3;
  --color-gray: #D2D2D4;
  --color-gray-dark: #7f7f7f;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: "Montserrat", cursive;
  --font-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}